<div class="car-news-section mt-5">
  <app-title-with-link
    [title]="'Auto News'"
    [viewMoreLink]="'#'"
    [viewMoreText]="'Check all news'"
  ></app-title-with-link>
  <div class="row">
    <div class="col-md-8 mb-3">
      <div class="item-news overflow-hidden position-relative">
        <div class="news-img">
          <picture>
            <img class="d-block h-100 w-100 object-fit-cover object-position-center" alt="{{ mainNews['title'] }}" src="{{mainNews['image']}}">
          </picture>
        </div>
        <div class="w-100 overlay d-flex align-items-end news-title position-absolute top-0 bottom-0 right-0 h-100 text-white">
          <p class="font-size-18 px-3">{{ mainNews['title'] }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <h3 class="mb-0">Trending News</h3>
        <hr/>
      <div class="trending-section">

        <div class="trending-item d-flex mt-2" *ngFor="let news of mostReadNews">
          <div class="trending-img col-md-5 rounded-3 overflow-hidden">
            <picture>
              <img class="d-block w-100 object-fit-cover object-position-center" src="{{news['image']}}" alt="{{ news['title'] }}">
            </picture>
          </div>
          <div class="trending-title ps-2 fw-bold font-size-14">
            <p>{{ news['title'] }}</p>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-4 mb-3" *ngFor="let news of listNews">
      <div class="item-news overflow-hidden position-relative">
        <div class="news-img h-200px">
          <picture>
            <img class="d-block h-100 w-100 object-fit-cover object-position-center" alt="{{ news['title'] }}" src="{{ news['image'] }}">
          </picture>
        </div>
        <div class="w-100 overlay d-flex align-items-end news-title position-absolute top-0 bottom-0 right-0 h-100 text-white">
          <p class="font-size-14 px-3 mb-2">{{ news['title'] }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
