.item-news{
   border-radius: 12px;
  .news-img{
    height: 332px;
  }
  .trending-title{
    padding: 0px 10px;
  }
  .h-200px{
    height: 200px;
  }
  .overlay{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) -11%, rgba(255,255,255,0) 100%);
  }
}

.trending-section{
  .trending-img{
    height: 80px;
  }
}
