
  <div *ngIf="(quickAccessData$ | async) as data" >
    <app-hero-section [quickAccessComponent]="data"></app-hero-section>
  </div>
  <div class="container-xxl motory-container">
    <app-about></app-about>
  </div>
  <div class="container-xxl motory-container">
    <app-featured-offers></app-featured-offers>
  </div>
  <div class="container-xxl motory-container">
    <app-knowlage-center></app-knowlage-center>
  </div>
  <div class="container-xxl motory-container">
    <app-featured-makes></app-featured-makes>
  </div>
  <div class="container-xxl motory-container" *ngIf="(suggestedVehicleList$ | async) as data">
    <app-suggestion-new-cars [suggestedVehiclesListComponent]="data"></app-suggestion-new-cars>
  </div>
  <div class="container-xxl motory-container" *ngIf="(autoNewsComponent$ | async) as data">
    <app-news [autoNewsComponent]="data"></app-news>
  </div>
  <div class="container-xxl motory-container" *ngIf="(videoComponent$ | async) as data">
    <app-videos [videoComponent]="data"></app-videos>
  </div>
  <div class="container-xxl motory-container">
    <app-newsletter-complaints></app-newsletter-complaints>
  </div>
