<div class="suggestion-new-cars mt-5">
  <app-title-with-link
    [title]="'Suggested New Cars'"
    [viewMoreLink]="'#'"
    [viewMoreText]="'View More'"
  ></app-title-with-link>
  <swiper-container #swiper [slidesPerView]="1" [spaceBetween]="5" [showsPagination]="false" [pagination]="{
      enabled: false,
      clickable: false,
    }" [breakpoints]="{
      '640': {
        slidesPerView: 2,
        spaceBetween: 20
      },
      '768': {
        slidesPerView: 4,
        spaceBetween: 40
      }
    }" navigation-next-el=".swiper-button-next" navigation-prev-el=".swiper-button-prev">
    <swiper-slide *ngFor="let suggestedVehicleListItem of suggestedVehiclesData">
      <div class="">
        <a class="suggested-cars-item position-relative w-100 h-100 d-flex flex-column" href="#">
          <div class="suggested-cars-item-image position-relative">
            <picture>
              <img class="w-100 h-auto suggested-thumb-img" src="{{suggestedVehicleListItem.image}}">
            </picture>
          </div>
          <div class="suggested-bottom text-left h-100 d-flex flex-column">
            <img src="{{ suggestedVehicleListItem.icon }}" alt="{{suggestedVehicleListItem.make}}" class="brand-circle-icon">
            <div class="suggested-cars-item-title">
              <div class="suggested-cars-item-title-truncate font-size-16 font-size-md-18 fw-bold clamp clamp-2">
                {{ suggestedVehicleListItem.make }} {{ suggestedVehicleListItem.model }} {{ suggestedVehicleListItem.year }}
              </div>
            </div>

            <div class="row mt-auto">
              <div class="col-6 price">
                <div class="price-inner">
                  <div class="price-label">Price Starts at:</div>
                  <div class="price-num font-size-sm-18 fw-bold">
                    {{ suggestedVehicleListItem.min_price }}<span class="font-size-14">{{ suggestedVehicleListItem.currency }}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 monthly cpl-0">
                <div class="monthly-inner">
                  <div class="monthly-label font-size-12">
                    {{ suggestedVehicleListItem.finance_label }}:
                  </div>
                  <div class="monthly-num font-size-16">
                    {{ suggestedVehicleListItem.finance_value }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </swiper-slide>
  </swiper-container>

  <div class="slider-controls d-none d-lg-flex justify-content-end mt-2">
    <div class="prev-icon swiper-button-prev" id="prev">
      <svg-icon src="{{ environment.ASSETS }}/icons/homepage/left-arrow-icon.svg"></svg-icon>
    </div>
    <div class="next-icon swiper-button-next" id="next">
      <svg-icon src="{{ environment.ASSETS }}/icons/homepage/left-arrow-icon.svg"></svg-icon>
    </div>
  </div>
</div>
