<div class="suggestion-new-cars mt-5">
  <app-title-with-link
    [title]="'Suggested New Cars'"
    [viewMoreLink]="'#'"
    [viewMoreText]="'View More'"
  ></app-title-with-link>
  <swiper-container #swiper [slidesPerView]="1" [spaceBetween]="5" [showsPagination]="false" [pagination]="{
      enabled: false,
      clickable: false,
    }" [breakpoints]="{
      '640': {
        slidesPerView: 2,
        spaceBetween: 20
      },
      '768': {
        slidesPerView: 4,
        spaceBetween: 40
      }
    }" navigation-next-el=".swiper-button-next" navigation-prev-el=".swiper-button-prev">
    <swiper-slide *ngFor="let number of [0,1,2,3,4,5,6,7]">
      <div class="">
        <a class="suggested-cars-item position-relative w-100 h-100 d-flex flex-column" href="https://ksa.motory.com/en/new-cars/chery/tiggo-8-pro/2024/">
          <div class="suggested-cars-item-image position-relative">
            <picture>
              <source srcset="https://s3.eu-central-1.amazonaws.com/v3-ncg.motory.com/vehicle-new/575x431/l-1676796485.845-63f1e245ce4c6.webp" media="(max-width:575px)">
              <source srcset="https://s3.eu-central-1.amazonaws.com/v3-ncg.motory.com/vehicle-new/800x600/l-1676796485.845-63f1e245ce4c6.webp" media="(max-width:767px)">
              <source srcset="https://s3.eu-central-1.amazonaws.com/v3-ncg.motory.com/vehicle-new/1000x750/l-1676796485.845-63f1e245ce4c6.webp" media="(max-width:991px)">
              <img class="w-100 h-auto suggested-thumb-img" src="https://s3.eu-central-1.amazonaws.com/v3-ncg.motory.com/vehicle-new/320x240/l-1676796485.845-63f1e245ce4c6.webp">
            </picture>
          </div>
          <div class="suggested-bottom text-left h-100 d-flex flex-column">
            <img src="https://s3.eu-central-1.amazonaws.com/v3-common.motory.com/taxonomy/139x139/l-1678610317.8179-640d8f8dc7acf.webp" alt="Chery" class="brand-circle-icon">
            <div class="suggested-cars-item-title">
              <div class="suggested-cars-item-title-truncate font-size-16 font-size-md-18 fw-bold clamp clamp-2">
                Chery Tiggo 8 Pro 2024
              </div>
            </div>

            <div class="row mt-auto">
              <div class="col-6 price">
                <div class="price-inner">
                  <div class="price-label">Price Starts at:</div>
                  <div class="price-num font-size-sm-18 fw-bold">
                    90,800<span class="font-size-14">SR</span>
                  </div>
                </div>
              </div>
              <div class="col-6 monthly cpl-0">
                <div class="monthly-inner">
                  <div class="monthly-label font-size-12">
                    Financing:
                  </div>
                  <div class="monthly-num font-size-16">
                    Available
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </swiper-slide>
  </swiper-container>

  <div class="slider-controls d-none d-lg-flex justify-content-end mt-2">
    <div class="prev-icon swiper-button-prev" id="prev">
      <svg-icon src="{{ environment.ASSETS }}/icons/homepage/left-arrow-icon.svg"></svg-icon>
    </div>
    <div class="next-icon swiper-button-next" id="next">
      <svg-icon src="{{ environment.ASSETS }}/icons/homepage/left-arrow-icon.svg"></svg-icon>
    </div>
  </div>
</div>
