/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "css";

.object-fit-cover{
  object-fit: cover;
}
.object-fit-contain{
  object-fit: contain;
}
.object-position-center{
  object-position: center;
}

.h-fit-content{
  height: fit-content;
}

.font-size-14{
  font-size: 14px;
}

.btn-motory{
  background-color: #0083F9;
  color: #fff;
  border-color: #0083F9;
  border-radius: 8px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  padding: 11px 24px 12px 16px;
}

.btn.btn-motory:hover{
  background-color: #0083F9;
  color: #fff;
}

.btn-outline-motory{
  background-color: #ffffff;
  color: #0083F9;
  border-color: #0083F9;
  border-radius: 8px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  padding: 11px 24px 12px 16px;
}

.btn.btn-outline-motory:hover{
  background-color: #ffffff;
  color: #0083F9;
  border-color: #0083F9;
}
